<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/menu.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="home.html">Inicio</a></li>
            <li class="submenu">
                <a href="#">Páginas</a>
                <ul>
                    <li><a href="home.html">Página 1</a></li>
                    <li><a href="home.html">Página 2</a></li>
                </ul>
            </li>
            <li><a href="home.html">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>