footer {
    height: 90px;
    background-color: rgb(207, 12, 116);
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: aliceblue;
    font-size: 18px;
}