@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #87848491;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  /* Paleta de colores */
  --bg-primary: #131417;
  --bg-secondary: #1e1f26;
  --color-primary: #2c303a;
  --black: #000000;
}

.menu {
  display: flex;
  width: 100%;
  min-height: 100%;
}

footer {
  height: 90px;
  background-color: rgb(207, 12, 116);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer > p {
  color: aliceblue;
  font-size: 18px;
}

header {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.nav {
  display: flex;
  width: 100%;
  height: 25px;
  background-color: rgb(44, 44, 44);
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo-text {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.nav-navigation {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: all 0.3s ease-in-out 0.05s;
}

.nav-button:hover {
  transform: translateY(-0.5rem) scale(1.1);
  background-color: #555; /* Cambia esto al color de fondo deseado */
  transition-duration: 0.3s;
}

/* Estilo del menú desplegable */
.dropdown-content {
  display: none;
  position: fixed;
  padding: 1rem;
  background-color: rgb(44, 44, 44);
  max-width: 300px;
}

/* Añade estilos a los elementos de la lista desplegable si es necesario */
.dropdown-content button {
  width: 100%;
  padding: 10px;
  text-align: left;
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
}

/* Estilo para mostrar el menú desplegable al pasar el mouse sobre el botón "Productos" */
.dropdown:hover .dropdown-content {
  display: block;
  height: 25%;
  overflow-y: auto;
}

footer {
  height: 90px;
  background-color: rgb(207, 12, 116);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer > p {
  color: aliceblue;
  font-size: 18px;
}

.contenedor-formulario {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card-formulario {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Aquí puedes ajustar la sombra según tus preferencias */
  padding: 20px;
  margin: 3rem;
}

/* Estilo para los campos de entrada de texto */
form > input[type="text"],
form > input[type="email"],
form > input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 90%;
  margin-bottom: 10px;
}

/* Estilo para los botones */
form > button[type="submit"] {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Cambiar el estilo del botón al pasar el cursor por encima */
form > button[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilo para etiquetas */
form > label {
  font-size: 16px;
}
