.nav {
  display: flex;
  height: 25px;
  background-color: rgb(44, 44, 44);
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo-text {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.nav-navigation {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: all 0.3s ease-in-out 0.05s;
}

.nav-button:hover {
  transform: translateY(-0.5rem) scale(1.1);
  background-color: #555; /* Cambia esto al color de fondo deseado */
  transition-duration: 0.3s;
}

/* Estilo del menú desplegable */
.dropdown-content {
  display: none;
  position: fixed;
  padding: 1rem;
  background-color: rgb(44, 44, 44);
  max-width: 300px;
}

/* Añade estilos a los elementos de la lista desplegable si es necesario */
.dropdown-content button {
  width: 100%;
  padding: 10px;
  text-align: left;
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
}

/* Estilo para mostrar el menú desplegable al pasar el mouse sobre el botón "Productos" */
.dropdown:hover .dropdown-content {
  display: block;
  height: 25%;
  overflow-y: auto;
}
